
.text1 {
  font-size: 16px;
  text-align: center;
  font-weight:bold;
  margin: 15px 19px;
  font-family: sans-serif;
}

.text2 {
  font-size: 12px;
  text-align: center;
  margin: 15px 19px;
  font-family: sans-serif;
  color: gray;}

body {
  background-color: #d5e1ef;
}

.white-container {
  background-color: #fff;
  height: 380px;
  width: 250px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  border-radius: 1rem;
}
.qrcode {
  text-align: center;
  margin-top: 15px;
}

.qrcode img {
  width: 220px;
  border-radius: 0.5rem;
}
