.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #d5e1ef;
}

.white-container {
  background-color: #fff;
  height: 400px;
  width: 250px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  border-radius: 1rem;
}
.qrcode {
  text-align: center;
  margin-top: 15px;
}

.qrcode img {
  width: 220px;
  border-radius: 0.5rem;
}
