.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #d5e1ef;
}

.white-container {
  background-color: #fff;
  height: 400px;
  width: 300px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
